<html lang="en">
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content input {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown input:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
{{> head}}

<body class="sb-nav-fixed">
    {{> deanHeader}}
    <div class="row">
        <div class="col" style="margin: 5% 30%;">
            {{#ifEquals distance5_ideas.length 0}}
            {{else}}
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Most by ↓</button>
                <div id="myDropdown" class="dropdown-content">
                    <form action="/dean/viewMostComments" method="POST">
                        {{#each distance5_ideas}}
                        <input type="submit" name="last" value="{{this}}">
                        <br>
                        {{/each}}
                    </form>
                </div>
            </div>
            {{/ifEquals}}
            {{#each mostViewedIdeas}}
            <div class="container py-5" style="margin-bottom: 3% ; background-color: rgba(225, 230, 238, 0.481);">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-left: 1px;">
                            <ul class="list-group mt-99 text-white">
                                <li class="list-group-item d-flex justify-content-between align-content-center"
                                    style="width: 700px">
                                    <div class="d-flex flex-row">
                                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png"
                                            width="70" height="60" />
                                        <div class="ml-1">
                                            <h1><b>Idea name: </b>{{name}}</h1>
                                            <span style="font-size: 12px;"><b>Time: </b>{{time}}</span>
                                            <br>
                                            <b style="font-size: 12px; margin-top: 10px; margin-bottom: 10px;">Document:
                                            </b>
                                            {{#each value}}
                                            <span style="font-size: 12px; margin-top: 3px; ">
                                                <a href="../../{{../this.linkValue}}/{{this}}">{{this}}</a>
                                            </span>
                                            <br>
                                            {{/each}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="font-weight: 900px; font-size: 1.2rem; margin-top: 3px; border: none;">
                                    {{comment}} Comments
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="width: 700px">
                            {{#ifEquals idea.comments.length 0}}
                            {{else}}
                            <button class="see-less" style=" font-size: 1.2rem; border: none; color: #3e5745; ">See
                                Less...</button>
                            <button class="see-more" style=" font-size: 1.2rem; border: none; color:#3e5745; ">Read more
                                comments...</button>
                            {{/ifEquals}}
                            {{#each idea.comments}}
                            <div class="user-comment-box commented-section py-2" style="display:none;">
                                <div class="second py-2 px-2" style="margin-left: 15px;">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="pull-left">
                                                <img class="rounded-circle" src="/images/user.png" width="40px"
                                                    height="40px" />
                                            </div>
                                            <div class="media-body">
                                                <h3>

                                                    {{authorName}}
                                                </h3>
                                                <div class="well well-lg" style="width: 600px; padding: 10px;">
                                                    <p style="font-size: medium; margin:0; text-align: justify;">
                                                        {{this.comment}}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {{/each}}
                            
                            <div class="row">
                                <div class="col">
                                    <div class="well" style="width: 700px">
                                        <h4>Comments... <span class="glyphicon glyphicon-comment"></span></h4>
                                        <form method="post" action='/dean/viewMostComments/Comment'>
                                            <input type="hidden" name="idEvent" value="{{../idEvent}}">
                                            <input type="hidden" name="idIdea" value="{{idea._id}}" />
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment" row="3"></textarea>
                                                <div class="row">

                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</body>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script>
    $(function () {
        $(".see-less").hide();
        $(".see-more").click(function (e) { // click event for load more
            e.preventDefault();
            $(this).siblings(".user-comment-box:hidden").slice(-4).show(); // select next 5 hidden divs and show them
            if ($(this).siblings(".user-comment-box:hidden").length == 0) {
                $(this).hide();
            }
            if ($(this).siblings(".user-comment-box").length != 0) {
                $(this).siblings(".see-less").show();
            }
        });
        $(".see-less").click(function (e) { // click event for load more
            e.preventDefault();
            $(this).hide();
            $(this).siblings(".user-comment-box").hide();
            $(this).siblings(".see-more").show();
        });
    });
</script>

</html>