<html lang="en">
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content input {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown input:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
{{> head}}

<body class="sb-nav-fixed">
    {{> deanHeader}}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Idea by faculty</h1>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Idea by faculty
                        </div>
                        <div class="card-body">
                            <table id="dataTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>URL</th>
                                        <th>Actions</th> <!-- Add Actions column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each ideas}}
                                    <tr>
                                        <td>{{this.name}}</td>
                                        <td>{{this.url}}</td>
                                        {{#if this.approve}}
                                            <td>Published</td>
                                        {{else}}
                                            <td>
                                                <form action="/dean/publishIdea" method="POST"> <!-- Add a form for publishing idea -->
                                                    <input type="hidden" name="ideaID" value="{{this._id}}">
                                                    <button type="submit" class="btn btn-primary">Publish</button>
                                                </form>
                                            </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {{#if hasPreviousPage}}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{previousPage}}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {{/if}}
                                    {{#if hasNextPage}}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>


</html>