<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
  {{> studentHeader}}
  <div class="container py-5" style="margin-top: 5%; margin-left: 15%">
    <center>
      <div class="form-group">
        <label>Search by Name:</label>
        <div class="input-group">
          <form class="form btn-group align-top" method="post" action="/student/searchEvent"
            style="margin-left: 20%; width: 40%;  flex: none;">
            <input type="search" name="keyword" class="form-control rounded" placeholder="Search by name "
              aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div>
      </div>
    </center>
    <div class="e-panel card">
      <div class="card-body">
        <div class="card-title">
        </div>
        <div class="e-table">
          <div class="table-responsive table-lg mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Date Start</th>
                  <th>Date End</th>
                </tr>
              </thead>
              <tbody>
                {{#each listEvent}}
                <tr>
                  <td class="text-nowrap align-middle" style="text-decoration: underline">
                    <a href="/student/viewEventDetail?id={{_id}}">
                      {{name}}
                    </a>
                  </td>
                  <td class="text-center align-middle">
                    {{description}}
                  </td>
                  <td class="text-nowrap align-middle"><span>{{dateFormat dateStart
                      "YYYY-MM-DD"}}</span></td>
                  <td class="text-nowrap align-middle"><span>{{dateFormat dateEnd
                      "YYYY-MM-DD"}}</span></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>